@import "reset.css";

@import "menu.css";

@font-face {
    font-family: "Noto Sans KR";
    src: url(../font/Noto_Sans_KR/NotoSansKR-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: "netmarble";
    src: url(../font/netmarble_font/netmarbleB.ttf);
}

@font-face {
    font-family: "netmarble";
    src: url(../font/netmarble_font/netmarbleL.ttf);
}

@font-face {
    font-family: "netmarble";
    src: url(../font/netmarble_font/netmarbleM.ttf);
}

@font-face {
    font-family: "Sarina";
    src: url(../font/Sarina/Sarina-Regular.ttf);
}


@font-face {
    font-family: "TrainOne";
    src: url(../font/train-one/TrainOne-Regular.ttf);
}

@font-face {
    font-family: "palanquin";
    src: url(../font/Palanquin_Dark/PalanquinDark-Bold.ttf);
}

@font-face {
    font-family: "palanquin";
    src: url(../font/Palanquin_Dark/PalanquinDark-Medium.ttf);
}

@font-face {
    font-family: "palanquin";
    src: url(../font/Palanquin_Dark/PalanquinDark-Regular.ttf);
}

@font-face {
    font-family: "palanquin";
    src: url(../font/Palanquin_Dark/PalanquinDark-SemiBold.ttf);
}

html {
    font-family: "Roboto";
}

.content {
    width: 100%;
    max-width: 1300px;
    /* background-color: slateblue; */
    margin: auto;
    padding: 0 2%;
}

main{
    width: 100%;
    background-color: #FFCA05;
    position: relative;
    margin-bottom: 1300px;
}

main .content{
    width: 100%;
    max-width: 4000px;
    position: absolute;
    color: #808080;
    top: 0;
    left: 0;
}
main .content .slide_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .content .slide_box .item{
    width: 100%;
    margin-right: 20px;
}






footer {
    width: 100%;
    overflow: hidden;
    background-color: #242424;
    color: #fff;
}

footer .content {
    height: 350px;
    max-width: 1450px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 2%;
}

footer .content .allbox {
    width: 100%;
    height: 150px;
    display: flex;
    /* background-color: orange; */
}

footer .content .allbox .left {
    width: 50%;
    display: flex;
    align-items: end;
    /* background-color: aqua; */
}

footer .content .allbox .left .left_allbox {
    width: 100%;
}

footer .content .allbox .left ul {
    width: 100%;
    max-width: 500px;
    height: 20px;
    /* background-color: salmon; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-bottom: 30px;
}

footer .content .allbox .left ul li {
    width: 20%;
    height: 100%;
    /* border: 1px solid #f00; */
    border-right: 1px solid #fff;
    font-family: "Noto_sans_kr";
    font-weight: 900;
    text-align: center;
}

footer .content .allbox .left ul li:nth-of-type(1) {
    width: 20%;
    text-align: left;
}

footer .content .allbox .left ul li:nth-of-type(2) {
    width: 35%;
}

footer .content .allbox .left ul li:last-child {
    border: none;
}

footer .content .allbox .left ul li a {
    width: 100%;
    height: 100%;
    /* text-align: center; */
    font-size: 0.8rem;
    padding: 0 18%;
}

footer .content .allbox .left ul li:nth-of-type(1) a {
    padding: 0;
}

footer .content .allbox .left ul li:nth-of-type(2) a {
    padding: 0 9%;
}

footer .content .allbox .left p {
    font-size: 0.8rem;
    font-family: "Noto_sans_kr";
    margin-bottom: 30px;
}

footer .content .allbox .left figure {
    /* background-color: #5C3725; */
}

footer .content .allbox .left figure img {
    width: 100%;
    height: 100%;
}




footer .content .allbox .right {
    width: 50%;
    /* background-color: teal; */
    display: flex;
    justify-content: end;
    align-items: end;
}

footer .content .allbox .right .iconbox {
    width: 100%;
    max-width: 300px;
    /* height: 30%; */
    /* background-color: salmon; */
    display: flex;
}

footer .content .allbox .right .iconbox .sns {
    width: 150px;
    /* background-color: orange; */
    display: flex;
    /* justify-content: end; */
}

footer .content .allbox .right .iconbox .sns .allicon {
    width: 100%;
    max-width: 150px;
    /* height: 40px; */
    /* background-color: skyblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .content .right .iconbox .country {
    width: 50%;
    /* background-color: #5C3725; */
    padding: 0 2%;
    display: flex;
    align-items: center;
    /* justify-content: end; */
}

footer .content .right .iconbox .country select {
    width: 139px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

@media screen and (max-width:1300px){}
@media screen and (max-width:1200px){
    
    footer .content .allbox .left ul {
        max-width: 450px;
    }

    footer .content .allbox .left ul li {
        height: 80%;
    }

    footer .content .allbox .left ul li a {
        font-size: 0.7rem;
    }

    footer .content .allbox .left p {
        font-size: 0.6rem;
    }

    footer .content .allbox .right .iconbox .sns .allicon {
        font-size: 0.9rem;
        /* max-width: 130px; */
        /* background-color: #d9d9d9; */
    }

    footer .content .allbox .right .iconbox .sns {
        width: 120px;
    }
}
@media screen and (max-width:1024px){
    

    footer .content .allbox {
        max-width: 500px;
        height: 200px;
        flex-direction: column-reverse;
    }

    footer .content .allbox .left {
        width: 100%;
    }

    footer .content .allbox .right {
        width: 100%;
        align-items: center;
        justify-content: start;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:900px){}
@media screen and (max-width:767px){}
@media screen and (max-width:700px){}
@media screen and (max-width:600px){}
@media screen and (max-width:500px){
    
    footer .content .allbox .left ul {
        max-width: 450px;
        height: 15px;
    }

    footer .content .allbox .left ul li a {
        font-size: 0.6rem;
    }
}
@media screen and (max-width:400px){}